<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yline.fresco.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.yline.fresco.activity.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yline.fresco.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yline.fresco.activity.sample.SampleSingleActivity" />
        <activity android:name="com.yline.fresco.activity.sample.SampleRecyclerActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibResourceActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibUriActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibUriParamActivity" />
        <activity android:name="com.yline.fresco.activity.sample.SampleProgressiveLoadingActivity" />
        <activity android:name="com.yline.fresco.activity.sample.SampleCallbackActivity" />
        <activity android:name="com.yline.fresco.activity.sample.SampleBitmapActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibControllerUriActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibControllerDynamicActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibProcessorUriActivity" />
        <activity android:name="com.yline.fresco.activity.lib.LibControllerLowerActivity" />
        <activity android:name="com.yline.fresco.activity.sample.SamplePrefetchActivity"></activity>
    </application>

</manifest>