<manifest
    package="com.litepal.instance"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.litepal.instance.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.litepal.instance.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.litepal.instance.activity.ManageTablesActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.ModelListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.TableListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.ModelStructureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.TableStructureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.CRUDActivity"
            android:label="@string/crud_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.SaveSampleActivity"
            android:label="@string/save_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.UpdateSampleActivity"
            android:label="@string/update_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.DeleteSampleActivity"
            android:label="@string/delete_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.QuerySampleActivity"
            android:label="@string/query_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.AggregateActivity"
            android:label="@string/aggregate_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.CountSampleActivity"
            android:label="@string/count_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.MaxSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.MinSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.AverageSampleActivity"
            android:label="@string/average_sample"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.litepal.instance.activity.SumSampleActivity"
            android:label="@string/sum_sample"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
