<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.litepalexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="org.litepal.litepalsample.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.litepal.litepalsample.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.ManageTablesActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.ModelListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.TableListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.ModelStructureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.TableStructureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.CRUDActivity"
            android:label="@string/crud_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.SaveSampleActivity"
            android:label="@string/save_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.UpdateSampleActivity"
            android:label="@string/update_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.DeleteSampleActivity"
            android:label="@string/delete_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.QuerySampleActivity"
            android:label="@string/query_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.AggregateActivity"
            android:label="@string/aggregate_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.CountSampleActivity"
            android:label="@string/count_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.MaxSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.MinSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.AverageSampleActivity"
            android:label="@string/average_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.litepal.litepalsample.activity.SumSampleActivity"
            android:label="@string/sum_sample"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>